---
import TitleCard from './ImageCard.astro'
import choreographingScience from '../../assets/choreographing-science.png'
import pilaCs from '../../assets/pila-cs.png'
import physicalResearch from '../../assets/physical-research.png'
import reenactingEnsembleChoreography from '../../assets/reenacting-ensemble-choreography.jpg'
import camps from '../../assets/camps.png'
import youthAsMixedReality from '../../assets/youth-as-mixed-reality.jpg'
import steamMaker from '../../assets/steam-maker.png'
---

<div class="projects site-container">
  <h3>Projects</h3>
  <div class="tab-container">
    <span class="tab active" data-type="all">/All</span>
    <span class="tab" data-type="current">/Current</span>
    <span class="tab" data-type="previous">/Previous</span>
  </div>

  <div class="project-container">
    <div class="project active" data-type="current">
      <TitleCard image={choreographingScience} theme="gradient" alt="Choreographing Science" />
      <h4>
        <a
          href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false"
          target="_blank"
          rel="noopener noreferrer">Choreographing Science</a
        >
      </h4>
      <div class="project-info">
        <p>(Co-PI NSF AISL Award #2115773)</p>
        <svg
          data-id="choreographing-science"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="project active" data-type="current">
      <TitleCard image={pilaCs} theme="gradient" alt="PiLa-CS" />
      <h4>
        <a href="https://www.pila-cs.org/" target="_blank" rel="noopener noreferrer">PiLa-CS</a>
      </h4>
      <div class="project-info">
        <p>(Postdoctoral Research Associate)</p>
        <svg
          data-id="pila-cs"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="project active" data-type="previous">
      <TitleCard image={physicalResearch} theme="gradient" alt="Physical Research" />
      <h4>Professional Dancers' Practices of Physical Research</h4>
      <div class="project-info">
        <p>Description of project goes here</p>
        <svg
          data-id="physical-research"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="project active" data-type="previous">
      <TitleCard
        image={reenactingEnsembleChoreography}
        theme="gradient"
        alt="Reenacting Ensemble Choreography"
      />
      <h4>Ensemble Choreographic Reenactment as Mathematical Activity</h4>
      <div class="project-info">
        <p>Description of project goes here</p>
        <svg
          data-id="reenacting-ensemble-choreography"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="project active" data-type="previous">
      <TitleCard
        image={camps}
        theme="gradient"
        alt="Computational And Mathematical Play Spaces (CAMPS)"
      />
      <h4>Computational And Mathematical Play Spaces (CAMPS)</h4>
      <div class="project-info">
        <p>(Graduate Student Research Assistant)</p>
        <svg
          data-id="camps"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="project active" data-type="previous">
      <TitleCard
        image={youthAsMixedReality}
        theme="gradient"
        alt="Youth as Mixed Reality Designers as part of the GEM STEP Project"
      />
      <h4>
        Youth as Mixed Reality Designers as part of the <a
          href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1908791"
          target="_blank"
          rel="noopener noreferrer">GEM STEP</a
        > Project (Graduate Student Research Assistant)
      </h4>
      <div class="project-info">
        <p>(Graduate Student Research Assistant)</p>
        <svg
          data-id="youth-as-mixed-reality"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="project active" data-type="previous">
      <TitleCard
        image={steamMaker}
        theme="gradient"
        alt="STEAM Maker Pedagogies (Graduate Student Research Assistant)"
      />
      <h4>STEAM Maker Pedagogies (Graduate Student Research Assistant)</h4>
      <div class="project-info">
        <p>Description of project goes here</p>
        <svg
          data-id="steam-maker"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          ></path>
          <path
            d="M18 7.5L28.5 18L18 28.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>

    <div class="modal-info">
      <div class="close">
        <svg
          width="159"
          height="184"
          viewBox="0 0 159 184"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path d="M15 15L143.269 168.451" stroke-width="20" stroke-linecap="round"></path><path
            d="M15 168.455L143.263 15"
            stroke-width="20"
            stroke-linecap="round"></path></svg
        >
      </div>
      <div class="modal-html"></div>
    </div>
  </div>
</div>

<style>
  .projects {
    position: relative;
  }

  .projects h3 {
    margin-bottom: 1rem;
  }

  .projects svg {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--color-black-faded);
    transition: var(--transition-medium);
  }

  .projects svg path {
    stroke: var(--color-black-faded);
  }

  .tab-container {
    margin-bottom: 2rem;
  }

  .tab {
    margin-right: 1rem;
    font-size: var(--size-lg);
    color: var(--color-black-faded);
    transition: var(--transition-medium);
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .tab {
      font-size: var(--size-xl);
    }
  }

  .tab:hover,
  .tab.active {
    color: var(--color-light-pink);
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  @media (min-width: 768px) {
    .project-container {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }

  .project {
    display: none;
    padding: 2rem;
    border: 1px solid var(--color-black-faded);
    border-radius: 1.25rem;
    background-color: var(--color-white);
    transition: var(--transition-medium);
    box-shadow: 0 0 20px var(--color-box-shadow);
  }

  .project.active {
    display: block;
  }

  .project:hover {
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
  }

  .project:hover .project-info svg {
    border: 1px solid var(--color-white);
  }

  .project:hover .project-info svg:hover {
    background-color: var(--color-white);
    cursor: pointer;
  }

  .project:hover .project-info svg:hover path {
    stroke: var(--color-black);
  }

  .project:hover .project-info svg path {
    stroke: var(--color-white);
    transition: var(--transition-medium);
  }

  .project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project h4,
  .project p,
  .project a {
    transition: var(--transition-medium);
  }

  .project h4 {
    margin-bottom: 1rem;
    font-size: var(--size-lg);
  }

  .project p {
    color: var(--color-black-faded);
  }

  .project h4 a {
    color: var(--color-black);
  }

  .project:hover h4,
  .project:hover p,
  .project:hover a,
  .project:hover h4 a {
    color: var(--color-white);
  }

  .project:hover a:hover,
  .project:hover h4 a:hover {
    color: var(--color-light-pink);
  }

  .modal-info {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 50%;
    left: 1rem;
    right: 1rem;
    max-height: 90%;
    overflow: auto;
    transform: translate(0, -45%);
    transition: var(--transition-medium);
    background-color: var(--color-white);
    padding: 2rem;
    border: 1px solid var(--color-black-faded);
    border-radius: 1.25rem;
    box-shadow: 0 0 20px var(--color-box-shadow);
  }

  @media (min-width: 768px) {
    .modal-info {
      left: 50%;
      transform: translate(-50%, -45%);
      width: 100%;
      max-width: 500px;
      padding: 3rem;
    }
  }

  .modal-info.active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: translate(0, -50%);
  }

  @media (min-width: 768px) {
    .modal-info.active {
      transform: translate(-50%, -50%);
    }
  }

  .modal-info svg,
  .modal-info svg path {
    transition: var(--transition-medium);
  }

  .modal-info svg:hover,
  .modal-info svg:hover path {
    stroke: var(--color-white);
    background-color: var(--color-black);
  }

  .modal-info .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all var(--transition-normal);
  }

  .modal-info .close svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke: var(--color-black);
    transition: all var(--transition-normal);
  }
</style>

<style is:inline>
  .modal-html {
    width: 90%;
  }

  .modal-html h4,
  .modal-html p {
    margin-bottom: 1rem;
  }

  .modal-html h4 {
    font-size: var(--size-lg);
  }

  .modal-html p {
    color: var(--color-black-faded);
  }

  .modal-html a {
    color: var(--color-black);
  }

  .modal-html a:hover {
    color: var(--color-light-pink);
  }
</style>

<script>
  const body = document.querySelector('body')
  const tabs = document.querySelectorAll('.tab') as NodeListOf<HTMLElement>
  const projects = document.querySelectorAll('.project')
  const projectCtas = document.querySelectorAll('.project-info svg') as NodeListOf<HTMLElement>
  const modalInfo = document.querySelector('.modal-info')
  const modalHtml = document.querySelector('.modal-html') as HTMLDivElement
  const modalClose = document.querySelector('.modal-info .close')

  const projectInfo = [
    {
      id: 'choreographing-science',
      html: `
        <h4>
          <a
            href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false"
            target="_blank"
            rel="noopener noreferrer">Choreographing Science</a
          >
        </h4>
        <p>
          <strong>Vogelstein, L., Champion, D., & Burley, X. (In preparation).</strong>
          <br />Artistic Practice as Leading STEAM Inquiry with Youth.
        </p>
        <p>
          <strong>Vogelstein, L., Champion, D., Wagh, A., & Appleby, L. (In preparation).</strong>
          <br />Growing into collective forms of scientific inquiry: the dignifying affirmation of timid, half-baked ideas through verbal and choreography responses.
        </p>
        <p>
          <strong>Vogelstein, L., Champion, D., & Wagh, A. (2022, April).</strong>
          <br />Conjecture Mapping Design & Theoretical Conjectures Explicitly to a Funding Audience.
          Paper presented in symposium Conjecture Mapping: New Approaches to broadening processes of
          educational design research at the 2022 American Education Research Association Conference
          San Diego, CA.
        </p>
      `,
    },
    {
      id: 'pila-cs',
      html: `
        <h4>
          <a href="https://www.pila-cs.org/" target="_blank" rel="noopener noreferrer">PiLa-CS</a>
        </h4>
        <p>
          <strong>Vogelstein, L. & McBride, C. (In preparation).</strong>
          <br />Classrooms as boundary spaces: something something something
        </p>
        <p>
          <strong>Vogelstein, L., & Ma, J. (In preparation).</strong>
          <br />Computer Science Pedagogical Content Knowledge: Laying tracks as you go
        </p>
        <p>
          <strong>Vogelstein, L., McBride, C., Ma, J., Wilkerson, M., Vogel, S., *Barrales, W.,
            Ascenzi-Moreno, L., Hoadley, C., & Gutiérrez, K. (2023).</strong>
          <br />Storytelling “in theory”: Re-imagining computational literacies through the lenses of
          syncretism and translanguaging. In Proceedings of the International Society of the Learning
          Sciences Annual Meeting 2023 ICLS.
        </p>
        <p>
          <strong>**James, S., Vogelstein, L., Ma, J., Vogel, S., *Barrales, W., Ascenzi-Moreno, L., & Hoadley, C. (2023).</strong>
          <br />Research as Relational: Stories of ever-present learning between undergraduate
          research interns and project researchers. In Proceedings of the International Society of the
          Learning Sciences Annual Meeting 2023 ICLS. Nominated for best student paper award.
        </p>
      `,
    },
    {
      id: 'physical-research',
      html: `
        <h4>Professional Dancers' Practices of Physical Research</h4>
        <p>
          <a
            href="https://repository.isls.org/bitstream/1/7480/1/299-306.pdf"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Vogelstein, L. (2021).</strong>
            <br />Mathematical Physical Research: Mathematical agency in the practices of
            professional dancers. In Proceedings of the 15th International Conference of the Learning
            Sciences-ICLS 2021.. International Society of the Learning Sciences. Nominated for best
            student paper.
          </a>
        </p>
        <p>
          <a
            href="https://par.nsf.gov/servlets/purl/10202099"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Vogelstein, L. (2020, January).</strong>
            <br />Physical research: Professional dancers exploring collective possibilities in a
            solidifying substrate. In The Interdisciplinarity of the Learning Sciences, 14th
            International Conference of the Learning Sciences (ICLS) 2020 (Vol. 2).
          </a>
        </p>
      `,
    },
    {
      id: 'reenacting-ensemble-choreography',
      html: `
        <h4>Ensemble Choreographic Reenactment as Mathematical Activity</h4>
        <p>
          <a
            href="https://link.springer.com/article/10.1007/s11858-019-01030-2"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Vogelstein, L., Brady, C., & Hall, R. (2019).</strong>
            <br />Reenacting mathematical concepts found in large-scale dance performance can provide
            both material and method for ensemble learning. ZDM, 51, 331-346.
          </a>
        </p>
        <p>
          <a
            href="https://dl.acm.org/doi/pdf/10.1145/3078072.3084328?casa_token=S1ssgbGOtw8AAAAA:TIN3W3rprmgc-OrTakZxmGo_d0U5LmRqcun58VuPubIhcXp9o8py57AV26TvhrZam_Oxexj_LQbOsA"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Vogelstein, L., Brady, C., & Hall, R. (2017, June).</strong>
            <br />Mathematical reflections: The design potential of ensemble performance. In
            Proceedings of the 2017 Conference on Interaction Design and Children (pp. 583-588).</a>
        </p>
      `,
    },
    {
      id: 'camps',
      html: `
        <h4>Computational And Mathematical Play Spaces (CAMPS)</h4>
        <p>
          <a
            href="https://par.nsf.gov/servlets/purl/10110520"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Vogelstein, L., & Brady, C. (2019, June).</strong>
            <br />Taking the patch perspective: A comparative analysis of a patch based participatory
            simulation. In Proceedings of the 2019 Conference on Computer Supported Collaborative
            Learning.
          </a>
        </p>
        <p>
          <a
            href="https://par.nsf.gov/servlets/purl/10311216"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Brady, C., & Vogelstein, L. (2020).</strong>
            <br />Patches as an Expressive Medium for AgentBased Modelling and Programming.
            Constructionism 2020, 1(1).</a>
        </p>
        <p>
          <a
            href="https://par.nsf.gov/servlets/purl/10311204"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Brady, C., Vogelstein, L., Gresalfi, M., & Knowe, M. (2021).</strong>
            <br />Circular reasoning: Shifting epistemological frames across mathematics and coding
            activities. Psychology of Mathematics Education-North America, 1(1).
          </a>
        </p>
        <p>
          <strong>Steinberg, S., Gresalfi, M., Vogelstein, L., & Brady, C. (2022).</strong>
          <br />Coding choreography: Understanding student responses to representational
          incompatibilities between dance and programming. Journal of Research on Technology in
          Education, 1-18.
        </p>
      `,
    },
    {
      id: 'youth-as-mixed-reality',
      html: `
        <h4>
          Youth as Mixed Reality Designers as part of the <a
            href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1908791"
            target="_blank"
            rel="noopener noreferrer">GEM STEP</a> Project (Graduate Student Research Assistant)
        </h4>
        <p>
          <strong>Jen, T., Brady, C., & Vogelstein, L. (Under Review).</strong>
          <br />Youth as designers of embodied participatory simulations of ecosystems: Negotiating
          shared visions of thinking, feeling, and acting for sustainability.
        </p>
        <p>
          <a
            href="https://repository.isls.org/bitstream/1/8277/1/CSCL2022_203-210.pdf"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Brady, C., Vogelstein, L., Jen, T., & Dim, E. (2022).</strong>
            <br />The Design of Embodied Participatory Simulations as a Collaborative Learning
            Environment. In Proceedings of the 15th International Conference on Computer-Supported
            Collaborative Learning-CSCL 2022, pp. 203-210. International Society of the Learning
            Sciences.</a>
        </p>
      `,
    },
    {
      id: 'steam-maker',
      html: `
        <h4>STEAM Maker Pedagogies (Graduate Student Research Assistant)</h4>
        <p>
          <a
            href="https://www.tandfonline.com/doi/pdf/10.1080/10508406.2022.2114833?casa_token=ZO6r3CjY2yIAAAAA:miTGU86XiksxdU53PzG7P2t9_ERyjt-jwEpXPNyCKbRpFl-j8wUHILZvBd03RZXJFLpfVO5AenPupw"
            target="_blank"
            rel="noopener noreferrer"
            ><strong>Sengupta-Irving, T., Vogelstein, L., Brady, C., & Phillips Galloway, E. (2023).</strong>
            <br />
            Prolepsis & telos: Interpreting pedagogy and recovering imagination in the mediation of
            youth learning. Journal of the Learning Sciences, 32(2), 211-249.
          </a>
        </p>
      `,
    },
  ]

  function handleTabClick(e: MouseEvent) {
    const eventTarget = e.target as HTMLElement
    const tabName = eventTarget.getAttribute('data-type')

    tabs.forEach((tab) => tab.classList.remove('active'))
    eventTarget.classList.add('active')

    projects.forEach((project) => {
      const projectName = project.getAttribute('data-type')

      project.classList.remove('active')

      if (projectName === tabName || tabName === 'all') {
        project.classList.add('active')
      }
    })
  }

  function handleProjectClick(e: MouseEvent) {
    const eventTarget = e.target as HTMLElement
    const projectId = eventTarget.getAttribute('data-id')
    const html = projectInfo.find((info) => info.id === projectId)?.html

    if (!html) return

    modalHtml.innerHTML = html
    modalInfo?.classList.add('active')

    body?.setAttribute('data-overlay-displayed', 'true')
  }

  function handleCloseProject() {
    modalInfo?.classList.remove('active')
    body?.setAttribute('data-overlay-displayed', 'false')
  }

  tabs.forEach((tab) => tab.addEventListener('click', handleTabClick))
  projectCtas.forEach((cta) => cta.addEventListener('click', handleProjectClick))
  modalClose?.addEventListener('click', handleCloseProject)
</script>
