---
export interface ProjectCardProps {
  project: {
    id: string
    title: string
    description: string
    type: string
    link?: string
  }
}

const { project } = Astro.props
---

<div class="project active" data-type={project.type}>
  <h4>
    {
      project.link ? (
        <a href={project.link} target="_blank" rel="noopener noreferrer">
          {project.title}
        </a>
      ) : (
        project.title
      )
    }
  </h4>
  <div class="project-info">
    <p>{project.description}</p>
    <svg
      data-id={project.id}
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      viewBox="0 0 36 36"
      fill="none"
    >
      <path d="M7.5 18H28.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      <path
        d="M18 7.5L28.5 18L18 28.5"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
</div>

<style>
  .project {
    display: none;
    padding: 2rem;
    border: 1px solid var(--color-black-faded);
    border-radius: 1.25rem;
    background-color: var(--color-white);
    transition: all var(--transition-medium);
    box-shadow: 0 0 20px var(--color-box-shadow);
  }

  .project:hover {
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
  }

  .project.active {
    display: block;
  }

  .project h4 {
    margin-bottom: 1rem;
    font-size: var(--size-lg);
    transition: all var(--transition-medium);
  }

  .project:hover h4,
  .project:hover p {
    color: var(--color-white);
  }

  .project:hover a:hover,
  .project:hover h4 a:hover {
    color: var(--color-pink);
  }

  .project:hover .project-info svg {
    border: 1px solid var(--color-white);
  }

  .project:hover .project-info svg path {
    stroke: var(--color-white);
  }

  .project:hover .project-info svg:hover {
    background-color: var(--color-white);
    cursor: pointer;
  }

  .project:hover .project-info svg:hover path {
    stroke: var(--color-black);
  }

  .project-info {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
  }

  .project-info p {
    color: var(--color-black-faded);
    font-size: var(--size-md);
    line-height: 1.8;
    transition: all var(--transition-medium);
  }

  .project-info svg,
  .project-info path {
    transition: all var(--transition-medium);
    stroke: var(--color-black-faded);
  }

  .project-info svg {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--color-black-faded);
  }
</style>
