---
import { getImage } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../components/layout/Header.astro'
import SectionDivider from '../components/layout/SectionDivider.astro'
import About from '../components/sections/About.astro'
import Research from '../components/sections/Research.astro'
import Teaching from '../components/sections/Teaching.astro'
import Commitments from '../components/sections/Commitments.astro'
import Choreography from '../components/sections/Choreography.astro'
import Footer from '../components/layout/Footer.astro'
import dividerAbout from '../assets/divider-about.png'
import dividerResearch from '../assets/divider-research.jpg'
import dividerTeaching from '../assets/divider-teaching.png'
import dividerCommitments from '../assets/divider-commitments.png'
import dividerChoreography from '../assets/divider-choreography.png'

const dividerAboutImage = await getImage({ src: dividerAbout })
const dividerResearchImage = await getImage({ src: dividerResearch })
const dividerTeachingImage = await getImage({ src: dividerTeaching })
const dividerCommitmentsImage = await getImage({ src: dividerCommitments })
const dividerFiveImage = await getImage({ src: dividerChoreography })
---

<Layout
  title="Lauren Vogelstein"
  description="Lauren Vogelstein is a postdoctoral associate at NYU in the department of Teaching & Learning. She designs and studies STEAM learning environments where the A in STEAM is as respected as the STEM disciplines involved."
>
  <Header />
  <main>
    <SectionDivider title="About" imageUrl={dividerAboutImage.src} isArrow={true} />
    <About />
    <SectionDivider
      title="Research"
      imageUrl={dividerResearchImage.src}
      description={`I work to widen the resources made available for learning and doing STEM in order to provide
      spaces where youth feel the expressiveness of their joint sense-making is valued and
      nurtured.`}
      isArrow={true}
    />
    <Research />
    <SectionDivider
      title="Teaching"
      imageUrl={dividerTeachingImage.src}
      description={`Continually working through what it means for learning to occur through shifts in participation in communities of practice.`}
      isArrow={true}
    />
    <Teaching />
    <SectionDivider title="Commitments" imageUrl={dividerCommitmentsImage.src} isArrow={true} />
    <Commitments />
    <SectionDivider title="Choreography" imageUrl={dividerFiveImage.src} isArrow={true} />
    <Choreography />
  </main>
  <Footer />
</Layout>
