---
import { Image } from 'astro:assets'
import Navigation from './layout/Navigation.astro'
import curvedName from '../assets/curved-name.svg'
import laurenHeadshot from '../assets/lauren-headshot.png'
import RotatingTitles from './animations/RotatingTitles.astro'
---

<header>
  <Navigation />
  <div class="content">
    <div class="signature">
      <Image
        src={curvedName}
        width={curvedName.width}
        height={curvedName.height}
        alt="Curved name text"
      />
      <Image
        src={laurenHeadshot}
        width={laurenHeadshot.width}
        height={laurenHeadshot.height}
        alt="Lauren Vogelstein Headshot"
      />
    </div>
    <div class="info">
      <RotatingTitles />
      <div class="description">
        <p>
          I design and study STEAM learning environments where the <span>A</span> in STE<span
            >A</span
          >M is as respected as the STEM disciplines involved. In particular, I explore how
          collaborating with dancers and choreographers on the design and analysis of STEAM spaces
          can leverage artistic, choreographic research as rigorous forms of collective learning.
        </p>
        <p>
          Currently, I am a <span>postdoctoral associate</span> at NYU in the department of Teaching
          & Learning. Before that, I received my PhD in Learning & Design from Vanderbilt University.
        </p>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    position: relative;
    background: var(--gradient-blue-purple);
  }

  p {
    font-size: var(--size-lg);
    line-height: 2rem;
  }

  .content {
    animation: var(--transition-long) 0s 1 fadeIn;
  }

  @media (min-width: 1024px) {
    .content {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .signature {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .signature img {
    height: auto;
  }

  .signature img:nth-child(1) {
    width: 100%;
    max-width: 650px;
    margin-bottom: -2rem;
  }

  .signature img:nth-child(2) {
    width: 75%;
    max-width: 300px;
  }

  .info {
    align-self: flex-end;
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-black);
  }

  @media (min-width: 1024px) {
    .info {
      margin-bottom: 8rem;
      padding: 1rem;
      text-align: left;
      color: var(--color-white);
      background-color: transparent;
    }
  }

  .description {
    max-width: 500px;
    margin: 0 auto;
  }

  .description p:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      visibility: none;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
